body {
    
    
    background-color: rgb(163, 48, 163);
}
html {
    margin: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgb(163, 48, 163);
}

nav ul {
    display: flex;
    flex-direction: row;
}

.card {
    max-width: 90%;
}